.poster_container {
    width: 30%;
}

.intro_right_section {
    vertical-align: top;
    width: 70%;
}

.row {
    display: flex;
    margin-top: 8px;
}

.intro_td1 {
    padding-top: 2px;
    width: 100px;
}

.intro_td2 {
    width: 300px;
    font-weight: bold;
    vertical-align: top;
}

.bold{
    font-weight: bold;
}

.detail_card{
    margin-top: 10px;
}

.heading{
    font-weight: bold;
    color: darkblue
}
.description{
    
}

@media only screen and (min-width: 450px) {
    .poster_container{
        width: 100%;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 850px) {
    .poster_container{
        width: 50%;
        margin-bottom: 20px;
    }
    .intro_right_section {
        vertical-align: top;
        width: 50%;
    }
}

@media only screen and (min-width: 1200px) {
    .poster_container{
        width: 30%;
        margin-bottom: 20px;
    }
    .intro_right_section {
        vertical-align: top;
        width: 70%;
    }
}